In [1]:
from __future__ import print_function

In [2]:
import pandas as pd

In [4]:
pd.__version__

u'0.18.0'

In [7]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])
pd.DataFrame({'City name': city_names, 'Population':population})

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199

In [8]:
ca_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
ca_housing_dataframe.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [9]:
ca_housing_dataframe.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [11]:
ca_housing_dataframe.hist('housing_median_age')

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x115edf350>]], dtype=object)

In [12]:
cities = pd.DataFrame({'City name':city_names, 'Population':population})
print(type(cities['City name']))
cities['City name']

<class 'pandas.core.series.Series'>

0    San Francisco
1         San Jose
2       Sacramento
Name: City name, dtype: object

In [15]:
cities['City name'][0:2]

0    San Francisco
1         San Jose
Name: City name, dtype: object

In [16]:
import numpy as np

In [17]:
np.log(population)

0    13.655892
1    13.831172
2    13.092314
dtype: float64

In [18]:
cities

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199

In [19]:
cities['Area square miles'] = pd.Series([46.87, 176.53, 97.92])
cities['Population density'] = cities['Population']/cities['Area square miles']
cities

       City name  Population  Area square miles  Population density
0  San Francisco      852469              46.87        18187.945381
1       San Jose     1015785             176.53         5754.177760
2     Sacramento      485199              97.92         4955.055147

In [21]:
cities['Special'] = (cities['Area square miles'] > 50) & (cities['City name'].str.contains('San') )

In [22]:
cities

       City name  Population  Area square miles  Population density Special
0  San Francisco      852469              46.87        18187.945381   False
1       San Jose     1015785             176.53         5754.177760    True
2     Sacramento      485199              97.92         4955.055147   False

In [23]:
city_names.index

RangeIndex(start=0, stop=3, step=1)

In [24]:
cities.index

RangeIndex(start=0, stop=3, step=1)

In [25]:
cities.reindex([2,0,1])

       City name  Population  Area square miles  Population density Special
2     Sacramento      485199              97.92         4955.055147   False
0  San Francisco      852469              46.87        18187.945381   False
1       San Jose     1015785             176.53         5754.177760    True

In [26]:
cities.reindex(np.random.permutation(cities.index))

       City name  Population  Area square miles  Population density Special
1       San Jose     1015785             176.53         5754.177760    True
2     Sacramento      485199              97.92         4955.055147   False
0  San Francisco      852469              46.87        18187.945381   False

In [27]:
cities.reindex([4,0,1])

       City name  Population  Area square miles  Population density Special
4            NaN         NaN                NaN                 NaN     NaN
0  San Francisco    852469.0              46.87        18187.945381   False
1       San Jose   1015785.0             176.53         5754.177760    True

In [28]:
from __future__ import print_function
import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset

ImportError: No module named tensorflow

In [ ]:
tf.logging.set_ver